<h1>Todo List</h1>
 <%= form_for @new_todo, :url => { :action => "add" }  do |f|  %>
    <%= f.submit "Add to list", class: "btn btn-primary" %> <%= f.text_field  :descripton %>
 <%end%>
 <%= form_tag("/todos/complete/", :method => "post") do %>
<ul style="list-style-type:none;">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
     <th>Task</th>
     <th>Days left</th>
     <th>Completed</th>
    </tr>
  </head>
  <div class="col-md-8">
    <% @todos.each do |todo| %>
          <h4 class="media-heading"> 

               <tbody> 
                 <tr>  
            <% if todo.completed == true%>
                <% if ((7-((Time.now - todo.created_at)/86400)).round < 0 ) %>
                <% else %>
                <% end%>
                 <li style="color:grey;"> 
                  <td> <strike><%= todo.descripton %></strike></td>
                  <td> <strike><%= (7-((Time.now - todo.created_at)/86400)).round %></strike></td>
                  <td><strike><%= check_box_tag  "todos_checkbox[]",todo.id %></strike></td> </li>
            <% else %>
                <li>
                  <td><%= todo.descripton %></td>
                  <td><%= (7-((Time.now - todo.created_at)/86400)).round%></td> 
                  <td><%= check_box_tag  "todos_checkbox[]",todo.id %></td></li>
            <% end %>
               </tbody> 
          </h4>
    <% end %> 
  </div>
     
</table>
</ul>
<%= submit_tag("Complete Todos", :class=>"btn btn-primary") %>
<%end %>
